@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
html,
body {
  margin: 0px;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

.flex {
  display: flex;
}

.f-center {
  justify-content: center;
  align-items: center;
}

.f-column {
  flex-direction: column;
}

.f-between {
  justify-content: space-between;
}

.f-around {
  justify-content: space-around;
}

.f-start {
  justify-content: start;
}

.f-align-start {
  align-items: start;
}

.f-center {
  align-items: center;
  justify-content: center;
}

.f-align-center {
  align-items: center;
}

.f-justify-center {
  justify-content: center;
}

.bg-black {
  background-color: #212529;
  color: #fff;
}

.bg-white {
  background-color: #fff;
  color: #212529;
}

.container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  font-family: "Ubuntu", system-ui;
}

.page-container {
  height: 100%;
  width: 100%;
}
.page-container section {
  height: 100vh;
  width: 100%;
}
.page-container section .section-content-container {
  margin: 1em;
  height: 96%;
}
.page-container section .section-content-container .section-heading {
  text-align: center;
}
.page-container section .section-content-container .section-content {
  height: 100%;
  width: 100%;
  justify-content: space-around;
}
.page-container section .section-content-container .section-content .min-sec {
  width: 35%;
}
.page-container section .section-content-container .section-content .max-sec {
  width: 60%;
  gap: 2em;
}
.page-container section .section-content-container .section-content .max-sec .content-context {
  text-align: justify;
}

img {
  height: 100%;
  width: 100%;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 3em;
}

h4 {
  font-size: 1.5em;
}

p,
div,
span {
  font-size: 1em;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

@media only screen and (max-width: 35em) {
  h1 {
    font-size: 3em;
  }
  h2 {
    font-size: 1.6em;
  }
  h3 {
    font-size: 1.4em;
  }
  h4 {
    font-size: 1.2em;
  }
  p,
  div,
  span {
    font-size: 1em;
  }
}
.sub-page-container {
  height: -moz-max-content;
  height: max-content;
}
.sub-page-container .main-section {
  height: 100vh;
  width: 100%;
}
.sub-page-container .main-section h2 {
  text-align: center;
  width: 55%;
}
.sub-page-container .main-section p {
  width: 70%;
  text-align: center;
  font-size: 1.7em;
}
.sub-page-container .sub-section {
  margin: 20px;
  width: calc(100% - 40px);
}
.sub-page-container .sub-section .image {
  width: 50%;
}
.sub-page-container .sub-section .image img {
  height: 100%;
  border-radius: 10px;
}
.sub-page-container .sub-section .content {
  width: 50%;
  margin: 20px;
  gap: 10px;
}
.sub-page-container .sub-section .content .heading {
  font-size: 3em;
  font-weight: bold;
}
.sub-page-container .sub-section .content .para {
  font-size: 1.5em;
}/*# sourceMappingURL=ecosystem.css.map */